<style type="text/css">
    .fullSlide {
        width: 100%;
        position: relative;
        height:300px;
        background: #000;
    }

    .fullSlide .bd {
        margin: 0 auto;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }

    .fullSlide .bd ul {
        width: 100% !important;
    }

    .fullSlide .bd li {
        width: 100% !important;
        height: 300px;
        overflow: hidden;
        text-align: center;
    }

    .fullSlide .bd li a {
        display: block;
        height: 300px;
    }

    .fullSlide .hd {
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        height: 30px;
        line-height: 30px;
    }

    .fullSlide .hd ul {
        text-align: center;
    }

    .fullSlide .hd ul li {
        cursor: pointer;
        display: inline-block;
        *display: inline;
        zoom: 1;
        width: 42px;
        height: 11px;
        margin: 1px;
        overflow: hidden;
        background: #000;
        filter: alpha(opacity=50);
        opacity: 0.5;
        line-height: 999px;
    }

    .fullSlide .hd ul .on {
        background: #1f7bf8;
    }

    .fullSlide .prev,
    .fullSlide .next {
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        margin-top: -30px;
        left: 15%;
        z-index: 1;
        width: 40px;
        height: 60px;
        background: url(<%templateskin%>/images/slider-arrow.png) -126px -137px #000 no-repeat;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: 0.5;
        display: none;
    }

    .fullSlide .next {
        left: auto;
        right: 15%;
        background-position: -6px -137px;
    }
</style>
<div class="fullSlide">
    <div class="bd">
        <ul>
            <%set DataTable banner1=get_article_list("banner", 1, 0, "status=0 and img_url<>''")%>
            <%foreach(DataRow dr in banner1.Rows)%>
            <li _src="url({dr[img_url]})" style="background:#E2025E center 0 no-repeat;"><a target="_blank" href="javascript:;"></a></li>
            <%/foreach%>
        </ul>
    </div>
    <div class="hd">
        <ul></ul>
    </div> <span class="prev"></span> <span class="next"></span>
</div>
<script type="text/javascript">
    jQuery(".fullSlide").hover(function () {
        jQuery(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
    }, function () {
        jQuery(this).find(".prev,.next").fadeOut()
    });
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click",
        startFun: function (i) {
            var curLi = jQuery(".fullSlide .bd li").eq(i);
            if (!!curLi.attr("_src")) {
                curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
            }
        }
    });
</script>