<div class="focusBox" style="margin:0 auto">
    <%set DataTable slide=get_article_list("news", 0, 0, "status=0 and img_url<>'' and is_slide=1")%>
        <ul class="pic">
            <%foreach(DataRow dr in slide.Rows)%>
            <li><a href='<%linkurl("news_show",{dr[id]})%>' target="_blank"><img src="{dr[img_url]}" /></a></li>
            <%/foreach%>
        </ul>
        <div class="txt-bg"></div>
        <div class="txt">
            <ul>
                <%foreach(DataRow dr in slide.Rows)%>
                <li><a href='<%linkurl("news_show",{dr[id]})%>'>{dr[title]}</a></li>
                <%/foreach%>
            </ul>
        </div>
        <ul class="num">
            <%loop ndr slide%>
            <li><a>{ndr__loop__id}</a><span></span></li>
            <%/loop%>
        </ul>
    </div>
    <script type="text/javascript">
        jQuery(".focusBox").slide({
            titCell: ".num li",
            mainCell: ".pic",
            effect: "fold",
            autoPlay: true,
            trigger: "click",
            startFun: function (i) {
                jQuery(".focusBox .txt li").eq(i).animate({
                    "bottom": 0
                }).siblings().animate({
                    "bottom": -36
                });
            }
        });
    </script>