<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{model.title} - {site.seo_title}</title>
    <%template src="_cssjs.html"%>
</head>

<body>
    <%template src="_header.html"%>
    <div class="bc">

        <div class="w">
            <!-- <div class="banner">
                <img src="<%templateskin%>/images/banner/banner4.jpg" alt="">
            </div> -->
        </div>

        <div class="w">
            <div class="box">
                <!--内容栏目-->
                <div class="lmy_main">
                    <div class="left">
                        <!-- <div class="l_top">
                            安全环保
                        </div> -->
                        <div class="l_bottom">
                            <ul class="ul_f">
                                <%set DataTable cnews=get_category_child_list(channel, 0)%>
                                <%foreach(DataRow dr in cnews.Rows)%>
                                <li class="<%if({strtoint({dr[id]})}=={model.category_id})%>on<%/if%>">
                                    <p class="p_f">
                                        <a href='<%linkurl("tongbao_list",{dr[id]})%>' id="{dr[title]}">{dr[title]}<span class="p_f_s">&gt;</span></a>
                                    </p>
                                    <%set DataTable cnews1=get_category_child_list(channel, {strtoint({dr[id]})})%>
                                    <%if(cnews1.Rows.Count>0)%>
                                    <ul class="ul_s">
                                        <%foreach(DataRow drr in cnews1.Rows)%>
                                        <li><p><a class="<%if({strtoint({dr[id]})}=={model.category_id})%>on<%/if%>" href='<%linkurl("tongbao_list",{drr[id]})%>'> • {drr[title]}</a></p></li>
                                        <%/foreach%>
                                    </ul>
                                    <%/if%>
                                </li>
                                <%/foreach%>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="r_top">
                            <div class="r_t_left">{model.title}</div>
                        </div>
                        <div class="page-info"><span>{model.add_time}</span><span><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_comment_count&channel_id={model.channel_id}&id={model.id}"></script>人评论</span><span><script type="text/javascript" src="{config.webpath}tools/submit_ajax.ashx?action=view_article_click&channel_id={model.channel_id}&id={model.id}&click=1"></script>次</span></div>
                        <div class="metanote">
                            <p>{model.zhaiyao}</p>
                        </div>
                        <div class="clear"></div>
                        <div class="entry">
                            {model.content}
                        </div>
                        <div class="next-box">
                            <p class="prev">上一篇：
                                <%=get_prevandnext_article("tongbao_show", -1, "没有了", 0)%>
                            </p>
                            <p class="next">下一篇：
                                <%=get_prevandnext_article("tongbao_show", 1, "没有了", 0)%>
                            </p>
                        </div>
                    </div>
                </div>
                <!--友情链接-->
                <%template src="_link.html"%>
            </div>
        </div>

    </div>
    <%template src="_footer.html"%>
    <script>
        $(function(){
            $(".n8").addClass("hover");
        })
    </script>
</body>
</html>