<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="DTcms.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="DTcms.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="document_list" type="list" page="document_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="document_list.html" channel="document" pagesize="12">
    <item path="document/{0}.aspx" pattern="document/(\d+).aspx" querystring="category_id=$1" />
    <item path="document/{0}/{1}.aspx" pattern="document/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="document_show" type="detail" page="document_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="document_show.html" channel="document">
    <item path="document/show-{0}.aspx" pattern="document/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="zhidu_list" type="list" page="zhidu_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="zhidu_list.html" channel="zhidu" pagesize="12">
    <item path="zhidu/{0}.aspx" pattern="zhidu/(\d+).aspx" querystring="category_id=$1" />
    <item path="zhidu/{0}/{1}.aspx" pattern="zhidu/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="zhidu_show" type="detail" page="zhidu_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="zhidu_show.html" channel="zhidu">
    <item path="zhidu/show-{0}.aspx" pattern="zhidu/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="content_list" type="list" page="content_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="content_list.html" channel="content" pagesize="12">
    <item path="content/{0}.aspx" pattern="content/(\d+).aspx" querystring="category_id=$1" />
    <item path="content/{0}/{1}.aspx" pattern="content/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="content_show" type="detail" page="content_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="content_show.html" channel="content">
    <item path="content/show-{0}.aspx" pattern="content/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="peixun_list" type="list" page="peixun_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="peixun_list.html" channel="peixun" pagesize="12">
    <item path="peixun/{0}.aspx" pattern="peixun/(\d+).aspx" querystring="category_id=$1" />
    <item path="peixun/{0}/{1}.aspx" pattern="peixun/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="peixun_show" type="detail" page="peixun_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="peixun_show.html" channel="peixun">
    <item path="peixun/show-{0}.aspx" pattern="peixun/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="jingying_list" type="list" page="jingying_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="jingying_list.html" channel="jingying" pagesize="12">
    <item path="jingying/{0}.aspx" pattern="jingying/(\d+).aspx" querystring="category_id=$1" />
    <item path="jingying/{0}/{1}.aspx" pattern="jingying/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="jingying_show" type="detail" page="jingying_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="jingying_show.html" channel="jingying">
    <item path="jingying/show-{0}.aspx" pattern="jingying/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="culture_list" type="list" page="culture_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="culture_list.html" channel="culture" pagesize="12">
    <item path="culture/{0}.aspx" pattern="culture/(\d+).aspx" querystring="category_id=$1" />
    <item path="culture/{0}/{1}.aspx" pattern="culture/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="culture_show" type="detail" page="culture_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="culture_show.html" channel="culture">
    <item path="culture/show-{0}.aspx" pattern="culture/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="pic_show" type="detail" page="pic_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="pic_show.html" channel="culture">
    <item path="pic/show-{0}.aspx" pattern="pic/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="echarts1" type="other" page="echarts1.aspx" inherit="DTcms.Web.UI.Page.index" templet="echarts1.html">
    <item path="echarts1.aspx" pattern="echarts1.aspx" />
  </rewrite>
  <rewrite name="echarts2" type="other" page="echarts2.aspx" inherit="DTcms.Web.UI.Page.index" templet="echarts2.html">
    <item path="echarts2.aspx" pattern="echarts2.aspx" />
  </rewrite>
  <rewrite name="echarts3" type="other" page="echarts3.aspx" inherit="DTcms.Web.UI.Page.index" templet="echarts3.html">
    <item path="echarts3.aspx" pattern="echarts3.aspx" />
  </rewrite>
  <rewrite name="echarts4" type="other" page="echarts4.aspx" inherit="DTcms.Web.UI.Page.index" templet="echarts4.html">
    <item path="echarts4.aspx" pattern="echarts4.aspx" />
  </rewrite>
  <rewrite name="laodong_list" type="list" page="laodong_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="laodong_list.html" channel="laodong" pagesize="12">
    <item path="laodong/{0}.aspx" pattern="laodong/(\d+).aspx" querystring="category_id=$1" />
    <item path="laodong/{0}/{1}.aspx" pattern="laodong/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="laodong_show" type="detail" page="laodong_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="laodong_show.html" channel="laodong">
    <item path="laodong/show-{0}.aspx" pattern="laodong/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="message" type="other" page="feedback.aspx" inherit="DTcms.Web.UI.Page.feedback" templet="feedback.html">
    <item path="message/{0}.aspx" pattern="message/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="link_list" type="other" page="link_list.aspx" inherit="DTcms.Web.UI.Page.index" templet="link_list.html">
    <item path="link/list.aspx" pattern="link/list.aspx" />
  </rewrite>
  <rewrite name="huanbao_list" type="list" page="huanbao_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="huanbao_list.html" channel="huanbao" pagesize="12">
    <item path="huanbao/{0}.aspx" pattern="huanbao/(\d+).aspx" querystring="category_id=$1" />
    <item path="huanbao/{0}/{1}.aspx" pattern="huanbao/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="huanbao_show" type="detail" page="huanbao_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="huanbao_show.html" channel="huanbao">
    <item path="huanbao/show-{0}.aspx" pattern="huanbao/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="bussiness_list" type="list" page="bussiness_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="bussiness_list.html" channel="bussiness" pagesize="12">
    <item path="bussiness/{0}.aspx" pattern="bussiness/(\d+).aspx" querystring="category_id=$1" />
    <item path="bussiness/{0}/{1}.aspx" pattern="bussiness/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="bussiness_show" type="detail" page="bussiness_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="bussiness_show.html" channel="bussiness">
    <item path="bussiness/show-{0}.aspx" pattern="bussiness/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="jiance_list" type="list" page="jiance_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="jiance_list.html" channel="jiance" pagesize="12">
    <item path="jiance/{0}.aspx" pattern="jiance/(\d+).aspx" querystring="category_id=$1" />
    <item path="jiance/{0}/{1}.aspx" pattern="jiance/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="jiance_show" type="detail" page="jiance_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="jiance_show.html" channel="jiance">
    <item path="jiance/show-{0}.aspx" pattern="jiance/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="tongbao_list" type="list" page="tongbao_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="tongbao_list.html" channel="tongbao" pagesize="12">
    <item path="tongbao/{0}.aspx" pattern="tongbao/(\d+).aspx" querystring="category_id=$1" />
    <item path="tongbao/{0}/{1}.aspx" pattern="tongbao/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="tongbao_show" type="detail" page="tongbao_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="tongbao_show.html" channel="tongbao">
    <item path="tongbao/show-{0}.aspx" pattern="tongbao/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="service_list" type="list" page="service_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="service_list.html" channel="service" pagesize="12">
    <item path="service/{0}.aspx" pattern="service/(\d+).aspx" querystring="category_id=$1" />
    <item path="service/{0}/{1}.aspx" pattern="service/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="service_show" type="detail" page="service_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="service_show.html" channel="service">
    <item path="service/show-{0}.aspx" pattern="service/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="zhuanti_list" type="list" page="zhuanti_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="zhuanti_list.html" channel="dangjian" pagesize="12">
    <item path="zhuanti/{0}.aspx" pattern="zhuanti/(\d+).aspx" querystring="category_id=$1" />
    <item path="zhuanti/{0}/{1}.aspx" pattern="zhuanti/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="zhuanti_show" type="detail" page="zhuanti_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="zhuanti_show.html" channel="dangjian">
    <item path="zhuanti/show-{0}.aspx" pattern="zhuanti/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="publicity_list" type="list" page="publicity_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="publicity_list.html" channel="publicity" pagesize="12">
    <item path="publicity/{0}.aspx" pattern="publicity/(\d+).aspx" querystring="category_id=$1" />
    <item path="publicity/{0}/{1}.aspx" pattern="publicity/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="publicity_show" type="detail" page="publicity_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="publicity_show.html" channel="publicity">
    <item path="publicity/show-{0}.aspx" pattern="publicity/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="study_list" type="list" page="study_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="study_list.html" channel="study" pagesize="12">
    <item path="study/{0}.aspx" pattern="study/(\d+).aspx" querystring="category_id=$1" />
    <item path="study/{0}/{1}.aspx" pattern="study/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="study_show" type="detail" page="study_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="study_show.html" channel="study">
    <item path="study/show-{0}.aspx" pattern="study/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="12">
    <item path="news/{0}.aspx" pattern="news/(\d+).aspx" querystring="category_id=$1" />
    <item path="news/{0}/{1}.aspx" pattern="news/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news/show-{0}.aspx" pattern="news/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="page" type="detail" page="page.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="page.html" channel="page">
    <item path="page/{0}.aspx" pattern="page/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="arrange_list" type="list" page="arrange_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="arrange_list.html" channel="arrange" pagesize="12">
    <item path="arrange/{0}.aspx" pattern="arrange/(\d+).aspx" querystring="category_id=$1" />
    <item path="arrange/{0}/{1}.aspx" pattern="arrange/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="arrange_show" type="detail" page="arrange_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="arrange_show.html" channel="arrange">
    <item path="arrange/show-{0}.aspx" pattern="arrange/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
</urls>